{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
