@import './src/styles/media-details.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Prisma Nova', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

body.modal-open {
  overflow: hidden;
}

.section-padding {
  padding: 60px 0;
}
