* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Prisma Nova', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.section-padding {
  padding: 60px 0;
}
